@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* General Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
hr {
    border: 0;
    height: 1px;
}
:root {
    --primary: #007d68;
    --primary-darker: #006454;
    --second: #3a3a3a;
    --third: #f2f2f2;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    background: url('../images/forest-2.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
}


.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--primary);
}

.form__button:hover {
    background: var(--primary-darker);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--second);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}


/* Navbar Customization */
.navbar {
    background-color: var(--primary); /* Use the primary color for the navbar background */
    padding: 1rem 0; /* Adjust padding to increase/decrease the navbar height */
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff; /* Adjust the color to fit the theme */
    font-weight: 500; /* Make the navbar links bold */
    transition: color 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--second); /* Change color on hover */
}

/* Adjustments for the navbar toggler icon */
.navbar-toggler {
    border-color: var(--third); /* Change the toggler icon color */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* Section Styling */
.menu-section {
    padding: 2rem 0; /* Add padding to each section for spacing */
    border-bottom: 2px solid var(--primary); /* Add a border to separate sections */
}

.menu-section h2 {
    color: var(--primary-darker); /* Title color for each section */
    font-weight: 700; /* Make section titles bold */
    margin-bottom: 1rem; /* Add space below the title */
    text-align: center; /* Center-align the section titles */
}

/* Ensure the footer adheres to the new styles */
#footer {
    color: #ffffff; /* Light text color for contrast */
    padding: 2rem 0; /* Padding for top and bottom */
    text-align: center; /* Center-align footer content */
}

#footer a {
    color: var(--primary); /* Primary color for links */
    transition: color 0.3s ease-in-out;
}

#footer a:hover {
    color: var(--third); /* Lighter color on hover */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0; /* Reduce padding on smaller screens */
    }
    .menu-section h2 {
        font-size: 1.5rem; /* Adjust section title size for readability on small devices */
    }
}


/* Page Container */
.page {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 100px;
    border-radius: 50px;
    overflow: hidden;
}

.page::before {
    position: absolute;
    content: '';
    background: url('../images/food-6.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 350px;
    right: 0;
    top: 20%;
    z-index: -1;
}

.page::after {
    position: absolute;
    content: '';
    background: url('../images/food-8.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 190px;
    height: 200px;
    left: 15%;
    bottom: 11%;
    z-index: -1;
}

/* Header Section */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: transparent;
    transition: 0.5s;
    z-index: 1100;
}

.logo {
    position: relative;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}

.cart {
    position: relative;
    text-decoration: none;
    background: #000000;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: 0.3s !important;
}

.cart:hover {
    border-radius: 50%;
}

.cart i {
    font-size: 1.4em;
    color: #ffffff;
}

.cart .number {
    position: absolute;
    right: -2px;
    bottom: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary);
    color: #ffffff;
    font-size: 0.7em;
    font-weight: 500;
}
/* General Banner Section */
.banner {
    position: relative;
    width: 100%;
    padding: 100px 0 20px;
    overflow: hidden;
}

/* General Navigation for Banner Sections */
.nav {
    position: absolute;
    top: 78%;
    margin: 40px 0;
    z-index: 1100;
}

.nav li {
    list-style: none;
    margin: 0 20px 0 0;
}

.nav li .nav-btn {
    position: relative;
    text-decoration: none;
    background: #000000;
    border: none;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.nav li .nav-btn:hover,
.nav li .nav-btn.active {
    border-radius: 50%;
    background: var(--primary);
}

.nav li .nav-btn i,
.nav li .nav-btn span {
    font-size: 1.4em;
    color: #ffffff;
}

/* General Styles for Banner Carousel Images and Content */
.banner .food-image img,
.banner .event-image img {
    width: 100%;
}

.banner .content h1 {
    font-family: 'Great Vibes', cursive;
    color: #000000;
    font-size: 4.5em;
    font-weight: 800;
    letter-spacing: 2px;
}

/* General Page Button Styles */
.page-btn {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s !important;
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.page-btn:hover {
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}


/* pop-up */

.popup{
    max-width: 90%; /* Maximum width */
    max-height: 90%; /* Maximum height */
    overflow: auto; /* Enable scrolling if content overflows */
    z-index: 1000;
    background: var(--third);
    border-radius: 6px;
    position: absolute; /* Changed from absolute to fixed for central placement */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); /* Initial scale set to small */
    text-align: center;
    padding: 30px; /* Uniform padding */
    color: var(--second);
    visibility: hidden; /* Initially hidden */
    transition: transform 0.3s ease, visibility 0.3s ease;; /* Smooth transition for scaling */
}
.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--primary-darker);
    color: var(--third);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: display 0.3s ease; /* Transition for smooth background appearance */
}



/* Main */
main {
    padding: 100px 0 50px 0;
}

/* Primary Menu Section */
.menu-primary {
    position: relative;
    padding: 150px 0 20px;
}

.menu-primary::before {
    position: absolute;
    content: '';
    background: url('../images/food-13.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 222px;
    height: 400px;
    left: -150px;
    top: -230px;
    z-index: -1;
    transform: rotateZ(45deg);
}

/* Item Card */
.card {
    position: relative;
    background: transparent;
    border: none;
}

.swiper {
    overflow-y: visible;
}

.card .item-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -160px;
    width: 100%;
    z-index: 1100;
}

.card .item-content {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: none;
    padding: 100px 20px 20px;
}

.card .item-content h4 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    font-weight: 500;
    margin-top: 20px;
}

.card .item-content p {
    font-size: 0.8em;
    font-weight: 300;
}

.card .like {
    position: absolute;
    right: 20px;
    top: 30%;
    width: 28px;
    height: 28px;
    background: var(--primary);
    border-radius: 50%;
    cursor: pointer;
}

.card .like i {
    color: #ffffff;
    font-size: 1em;
}

.card .price {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Item Card Button */
.item-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    background: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: 0.3s;
    cursor: pointer;
}

.item-btn:hover {
    border-radius: 50%;
}

.item-btn i {
    font-size: 1.4em;
    color: #ffffff;
}

/* Description */
.description {
    position: relative;
    transform: translateY(-15%);
}

.description h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
    font-weight: 400;
    letter-spacing: 1px;
}

.description h4 {
    font-weight: 400;
    letter-spacing: 1px;
    text-align: end;
    margin-bottom: 20px;
}

.description p {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: end;
}

/* Second Menu Section */
.menu-second {
    position: relative;
    padding: 100px 0 20px;
}

.menu-second img {
    width: 100%;
}

.menu-second .item-btn {
    right: 0;
    bottom: 80%;
}

/* Third Menu Section */
.menu-third {
    position: relative;
    padding: 100px 0 20px;
}

.menu-third::before {
    position: absolute;
    content: '';
    background: url('../images/food-7.png') no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    left: -10%;
    top: -5%;
    z-index: -1;
}

/* Booking */
.booking {
    padding: 20px;
}

.booking h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
}

/* Reservation Form */
.booking form input,
.booking form textarea {
    background: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.booking form input:focus,
.booking form textarea:focus {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}

.booking form label {
    padding-bottom: 5px;
}

.booking form .form-group {
    margin-bottom: 10px;
}

.booking form button[type='submit'] {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.3s;
    margin-top: 15px;
    cursor: pointer;
}

.booking form button[type='submit']:hover {
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* Second Item Card */
.card-second {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: none;
    padding: 20px;
}

.card-second .item-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Adjust the top value as needed to fit the card's design */
    top: 40px; /* Example value, adjust based on actual layout */
    width: 80%; /* Adjust based on the card size and desired image size */
    max-width: 100px; /* Optional, if you want to limit the image size */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the area, adjust as needed */
    z-index: 1100; /* Ensure it's above the card background but below any text/content */
    border-radius: 20px; /* Optional, if you want rounded corners to match the card style */
}


.card-second .login,
.card-second .menu {
    position: absolute;
    top: 15px;
}

.card-second .login {
    left: 20px;
}

.card-second .menu {
    right: 20px;
}

.card-second .login i,
.card-second .menu i {
    color: #000000;
    font-size: 1.3em;
}

.card-second .item-content h4 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 1px;
}

.card-second .item-content p {
    font-size: 0.8em;
    font-weight: 300;
}

.card-second .like {
    position: absolute;
    top: 60%;
    right: 20px;
    width: 28px;
    height: 28px;
    background: var(--primary);
    border-radius: 50%;
    cursor: pointer;
}

.card-second .like i {
    color: #ffffff;
    font-size: 1em;
}

.card-second .price {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Download App Section */
.app-download {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-download h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    font-weight: 800;
}

.app-download h4 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

.app-download p {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.download img {
    width: 100%;
}

/* Coupon Section */
.coupon {
    position: relative;
    padding: 100px 0 20px;
    border-bottom: 1px solid #000000;
}

.coupon h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.coupon-content p {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Footer Section */
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: transparent;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-top .footer-contact p {
    font-size: 0.8em;
    line-height: 25px;
    margin-bottom: 0;
    color: var(--second);
}

#footer .footer-top h4 {
    font-size: 1em;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: var(--second);
    font-size: 0.9em;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    list-style: none;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    text-decoration: none;
    color: var(--second);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--primary);
}

#footer .footer-top .footer-links p {
    color: var(--second);
}

#footer .footer-top .social-links a {
    font-size: 1em;
    display: inline-block;
    background: #000000;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    line-height: 1;
    padding: 8px;
    margin-right: 4px;
    text-decoration: none;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    color: #ffffff;
    background: var(--primary);
    border-radius: 50%;
}

#footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000000;
}

#footer .copyright {
    float: left;
}

.copyright span {
    color: var(--primary);
}

#footer .credits {
    float: right;
    font-size: 0.8em;
}

#footer .credits a {
    text-decoration: none;
    transition: 0.3s;
    color: #000000;
    font-weight: 600;
}

/* Back To Top Button */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    text-decoration: none;
    background: var(--primary);
    padding: 15px;
    width: 40px;
    height: 40px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: 0.3s;
    color: #ffffff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top i {
    font-size: 1.5em;
}

.back-to-top:hover {
    border-radius: 50%;
    background: #ffffff;
    color: var(--primary);
}

/* Responsive Design - Mobile View */
@media (max-width: 768px) {
    .page {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 30px;
        border-radius: 0;
    }
    .page::after {
        left: 60%;
        bottom: 15%;
    }

    header {
        padding: 30px;
    }

    .banner {
        padding: 100px 0;
        min-height: 100vh;
    }

    .banner .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner .content h1 {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .banner .content h2 {
        font-family: 'Great Vibes', cursive;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .nav {
        top: 55%;
    }

    /* Main */
    main {
        padding: 100px 0 50px 0;
    }

    .card .item-img {
        top: -230px;
    }

    .description {
        transform: translateY(100px) !important;
    }

    .menu-primary,
    .menu-second,
    .menu-third {
        position: relative;
        padding: 100px 0 0;
    }

    .menu-second .description {
        margin-bottom: 150px;
    }

    .coupon {
        margin-top: 50px;
    }

    #footer .footer-bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #footer .copyright,
    #footer .credits {
        text-align: center;
        float: none;
    }

    #footer .credits {
        padding-top: 4px;
    }
}






/******************* ADMIN LUNCHES STYLE *******************/

/* Simple calendar layout */
.calendar-container {
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.month-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Existing CSS for .weekly-calendar and children */

.weekly-calendar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap; /* Allows for wrapping if the screen is too narrow */
}

.day {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
    min-width: 120px; /* Ensure days don't become too narrow */
}


.day h3 {
    color: #333;
    margin-bottom: 10px;
}

.event {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    width: 100%; /* Ensures events take up full width of the day container */
    text-align: center; /* Centers text within the event */
}

.lunch {
    background-color: #ffecd1;
}

.shift {
    background-color: #d1eaff;
}







.week {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds space between the day boxes */
}

.day {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* Each day box will take up equal width */
    margin-bottom: 20px; /* Adds space below each day */
    display: flex;
    flex-direction: column; /* Stack content vertically */
}

.day h3 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.lunch-table {
    width: 100%;
    border-collapse: collapse; /* Remove any default spacing */
}

.lunch-table th,
.lunch-table td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.event.lunch {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack the name, price, and description */
    gap: 8px; /* Adds space between name, price, and description */
}

.commandButton {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 10px auto 0;
}

.commandButton:hover {
    background-color: #c9302c;
}

#add_lunch_form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: fit-content;
}

#add_lunch_form input,
#add_lunch_form textarea,
#add_lunch_form select {
    margin-bottom: 10px;
    width: 100%;
}

#add_lunch_form .commandButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    margin-top: 20px;
}

#add_lunch_form .commandButton:hover {
    background-color: #45a049;
}

.chooseDay {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

/* Ensure each 'day' div takes up equal height */
.week .day {
    flex: 1 1 calc(33.333% - 40px); /* Assuming there are 3 columns */
    display: flex;
    flex-direction: column;
}

/* To ensure the days have equal height, we set them to stretch the same */
.day {
    align-self: stretch;
}

/* The button will be placed at the bottom of the event lunch container */
.deleteButton {
    margin-top: auto;
}

/* A La Carte Menu Section Styling */
.aLaCarteSubMenu {
    margin: 20px 0;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.aLaCarteSubMenu h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.getALaCarteItems, .addALaCarteItem {
    margin-bottom: 20px;
}

/* Styling for displaying a la carte items */
.alacarte-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.alacarte-table th, .alacarte-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.menu-name, .menu-price, .menu-descr {
    margin-right: 10px;
}

.delete-button {
    padding: 5px 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

/* Styling for the form to add new a la carte items */
.alacarte-form-grid {
    width: 100%;
}

.output-label, .input-text, .input-textarea {
    margin-bottom: 10px;
}

.command-button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Centers the button in the form */
    margin-top: 20px; /* Additional spacing above the button */
    width: auto; /* Adjust based on content width */
}

.command-button:hover {
    background-color: #4cae4c;
}

/* Ensures form elements are visually consistent */
.input-text, .input-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Adjusts layout for responsive design */
@media (max-width: 768px) {
    .menu-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .delete-button {
        margin-top: 10px;
    }

    .alacarte-form-grid {
        display: block;
    }

    .command-button {
        width: 100%;
    }
}

/* ********************** EVENTS STYLE ********************* */
/* Events Section Styling *//* General Styles for Event Sections */
.EventsSection,
.addEvent {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Header Styles */
.EventsSection h2,
.add-event-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Table Styles */
.getEvents .event-table,
.events-list .dataTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

/* Event Attribute Styles */
.event_attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Event Description Styles */
.eventName, .eventPrice, .eventDescr {
    flex: 1;
    margin-right: 10px;
}

/* Button Styles */
.commandButton,
.add-event-form button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    font-weight: bold;
    transition: 0.3s;
}

.commandButton:hover,
.add-event-form button:hover {
    background-color: #4cae4c;
}

/* Form Styles */
#addEventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius);
}

#addEventForm label,
.add-event-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    width: 80%;
    text-align: left;
}

#addEventForm input,
#addEventForm textarea,
#addEventForm button,
.add-event-form input,
.add-event-form textarea {
    background: transparent;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 80%;
    padding: 15px;
    font-size: 16px;
    margin: 10px 0;
}

#addEventForm input[type='submit'],
#addEventForm button {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    background: #000000;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    align-self: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #addEventForm label,
    #addEventForm input,
    #addEventForm textarea,
    #addEventForm button,
    .add-event-form label,
    .add-event-form input,
    .add-event-form textarea,
    .add-event-form button {
        width: 100%;
    }
}

/* Table Headers and Cells */
.events-list .dataTable th,
.events-list .dataTable td,
.dataTable th,
.dataTable td {
    padding: 0.5rem;
    border: 1px solid var(--second); /* Assuming var(--second) is defined in your CSS */
    text-align: left;
}


/********************* EMPLOYEE SCHEDULE SECTION STYLE **********************/
/* Schema Section Styles */
#schema {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#schema h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Employee Work Shifts Grid */
.getEmployeeWorkShifts .h-dataTable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.getEmployeeWorkShifts .h-column {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.getEmployeeWorkShifts .h-column .h-dataTable {
    width: 100%;
}

/* Form Styles */
#add_work_shift_form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#add_work_shift_form .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#add_work_shift_form .panelGrid {
    width: 100%;
    margin-bottom: 20px;
}

#add_work_shift_form .outputLabel {
    padding: 5px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    min-width: 120px;
}

#add_work_shift_form .selectOneMenu,
#add_work_shift_form input,
#add_work_shift_form textarea {
    width: calc(100% - 130px); /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

#add_work_shift_form .commandButton {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

#add_work_shift_form .commandButton:hover {
    background-color: #333333;
}

/* Styles for the "Add Work Shift" button */
#add_work_shift_form .commandButton {
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

/* Adjustments for smaller screens or responsiveness */
@media (max-width: 768px) {
    #add_work_shift_form .outputLabel,
    #add_work_shift_form .selectOneMenu,
    #add_work_shift_form input,
    #add_work_shift_form textarea {
        width: 100%;
    }

    #add_work_shift_form .panelGrid {
        flex-direction: column;
    }
}

.workshift-day-label {
    padding: 5px;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    min-width: 120px; /* Adjust as needed */
    /* Additional styles can be added here */
}


